ppgs_alignments/
utils/mfcc_zhao
utils/PPGs
*.npy
*.txt
*.TXT
*.wav
*.csv
ckpt_model_dir/
log_dir/
vc_pipeline/
LibriSpeech_ckpt_model_zhaoxt_dir/
LibriSpeech/wavs/
LJSpeech-1.1/
LJSpeech-1.1_ckpt_model_dir/
LJSpeech-1.1_log_dir/
not_used/
